 <!-- Header -->
 <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in"></div>
        <div class="intro-heading text-uppercase"></div>
        <a class="btn btn-primar btn-xl text-uppercase js-scroll-trigger" href="#services"></a>
      </div>
    </div>
  </header>
      


  <!-- Services -->
  <section class="page-section" id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class=" wow fadeInUp section-heading text-uppercase">Servicios</h2>
          <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4 wow fadeInLeft" data-wow-delay="1.8s">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-layer-group fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Derecho Civil</h4>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
        </div>
        <div class="col-md-4 wow fadeInLeft" data-wow-delay="1.4s">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-gavel fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Derecho Laboral</h4>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
        </div>
        <div class="col-md-4  wow fadeInLeft" data-wow-delay="0.8s">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-balance-scale-left fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Derecho Comercial</h4>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Portfolio Grid -->
  <section class="bg-light page-section" id="portfolio">
    <div class="container">
       <div class="row pt-5">
                <div class="col-md-6">
                  <img class="img-fluid" src="https://www.infobae.com/new-resizer/77D0LIPOzrtuQun_UOjhipj1IZw=/750x0/filters:quality(100)/arc-anglerfish-arc2-prod-infobae.s3.amazonaws.com/public/6R253W2QA5E6RF4F5DGVNQDMX4.jpg" alt="img">
                </div>
                
                <div class="col-md-6">
                    <h3 class="hero text-center">Quienes somos</h3>
                  <p style="margin: 0px 10px">
                      <p class="hero-paragraph">
                          Somos un estudio jurídico constituido por un sólido  equipo de profesionales de primer nivel, abocados a la provisión de servicios personalizados y altamente especializados en el Derecho del Trabajo liderados por el Dr. Ricardo A. Foglia con una trayectoria de 40 años en la materia.<br>
                          Nuestra misión es ser un estudio profesional que facilita la gestión de los clientes, colaborando con ellos en el logro de sus objetivos con creatividad, profesionalismo y altos estándares de calidad en el servicio que  brindamos. <br>
                          Somos un equipo de profesionales en constante actualización y alineados con los cambios tecnológicos, las tendencias y las necesidades del mercado. <br/>
                       </p>
                      </p>
                </div>
    </div>
  </section>

  <!-- About -->



<!-- Projects Section -->
  <section id="about" class="projects-section bg-light">
<div class="container about mt-5 pb-5">
	<div class="row">
		<div class="col-md-12 text-center">
			<h1>Objetivo del Estudio</h1>
		</div>
	</div>
	
	<div class="orange-line m-auto"></div>
	
	<div class="row">
		<div class="col-md-12">
			<p class="hero-text text-center mt-3">

 

Nuestro equipo de especialistas ayuda a clientes comerciales e institucionales en la evaluación de su competitividad en la región y les proporciona una plataforma probada desde la que centralizar las operaciones en la región a través de Estudios de Mercados y Plataforma de Negocios efectivas

​

Asimismo nuestro Estudio proporciona consejo y asesoramiento en prácticamente todos los aspectos del derecho civil, comercial, penal, laboral y administrativo relacionado con áreas de práctica fundamentales como el Derecho del Trabajo, el Derecho de Familia, Derecho Sucesorio, Derecho Penal, Contratos, Sociedades, Daños y Perjuicios, Accidentes, Negocios Inmobiliarios, Jubilaciones y Pensiones entre otros.
Nuestra empresa se ​​define por su considerable base de conocimientos y un enfoque proactivo para abordar los desafíos legales de sus clientes de forma personalizada y con el profesionalismo que nos caracteriza.

Asimismo contamos con un sistema de abonos para medianos y grandes clientes que incluyen variados servicios legales prepagos (abonos prepagos) acorde a las necesidades de su empresa o labor.
			</p>
		</div>
	</div>
</div>   
   
  </section>




   


    <div id="team" class="contact">
        <div class="container-fluid choose" >
    <div class="container pt-4 pb-4">
      <div class="row text-center mb-4">
        <div class="col-md-12 mt-5">
          <h2 class="text-primary">NUESTROS SERVICIOS</h2>
        </div>
      </div>
      
      <div class="row mt-5">
        <div class="col-md-3">
          <div class="card upper-card">
            <div class="icon"><i class="fas fa-pray" aria-hidden="true"></i></div>
            <div class="card-body">
            <h3>Derecho de Daños</h3>
            <p>Acciones de responsabilidad derivadas de incumplimientos o ilícitos contractuales y extracontractuales. Medidas preventivas.</p>
          </div>
          </div>
        </div>
        
        <div class="col-md-3">
          <div class="card upper-card">
            <div class="icon"><i class="fas fa-file-invoice" aria-hidden="true"></i></div>
            <div class="card-body">
            <h3>Derecho Sucesorio</h3>
            <p>Planificación hereditaria. Procesos testamentarios e intestados. Conflictos.</p>
          </div>
          </div>
        </div>

         <div class="col-md-3">
          <div class="card upper-card">
            <div class="icon"><i class="fas fa-university" aria-hidden="true"></i></div>
              <div class="card-body">
               <h3>Derecho Bancario</h3>
               <p>Garantías reales. Contrataciones y responsabilidades especiales.</p>
          </div>
          </div>
        </div>
        
        <div class="col-md-3">
          <div class="card upper-card">
            <div class="icon"><i class="fas fa-handshake" aria-hidden="true"></i></div>
            <div class="card-body">
            <h3>Derecho de los Contratos</h3>
            <p>Negociación, redacción y ejecución de contratos civiles, comerciales y de consumo. Vicisitudes.</p>
          </div>
          </div>
        </div>

      </div>

<div class="row mt-5">
        <div class="col-md-3">
          <div class="card upper-card">
            <div class="icon"><i class="fas fa-user-tie" aria-hidden="true"></i></div>
            <div class="card-body">
            <h3>Asuntos Civiles y Comerciales Complejos</h3>
            <p>Diseño y ejecución de estrategias legales creativas sustentadas en un profundo conocimiento del Derecho privado.</p>
          </div>
          </div>
        </div>
        
        <div class="col-md-3">
          <div class="card upper-card">
            <div class="icon"><i class="fas fa-car-crash" aria-hidden="true"></i></div>
            <div class="card-body">
            <h3>Accidentes</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem ex id unde deleniti porro libero maiores.</p>
          </div>
          </div>
        </div>

         <div class="col-md-3">
          <div class="card upper-card">
            <div class="icon"><i class="fas fa-restroom" aria-hidden="true"></i></div>
              <div class="card-body">
               <h3>Derecho de Familia</h3>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem ex id unde deleniti porro libero maiores.</p>
          </div>
          </div>
        </div>
        
        <div class="col-md-3">
          <div class="card upper-card">
            <div class="icon"><i class="fa fa-bullhorn" aria-hidden="true"></i></div>
            <div class="card-body">
            <h3>Impositivo</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem ex id unde deleniti porro libero maiores.</p>
          </div>
          </div>
        </div>
        
      </div>


    </div>
  </div>

    </div>

  <!-- Team -->
  <div id="contact" class="contact">
    <div class="container">
      
  </section>
</div>
  <!-- Clients -->
  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <a href="#">
            <img class="img-fluid d-block mx-auto" src="img/logos/envato.jpg" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="#">
            <img class="img-fluid d-block mx-auto" src="img/logos/designmodo.jpg" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="#">
            <img class="img-fluid d-block mx-auto" src="img/logos/themeforest.jpg" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="#">
            <img class="img-fluid d-block mx-auto" src="img/logos/creative-market.jpg" alt="">
          </a>
        </div>
      </div>
  </section>

  <!-- Contact -->
  <section class="page-section" id="contact" style="background-color:lightslategrey">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Contáctenos</h2>
          <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <form id="contactForm" name="sentMessage" novalidate="novalidate">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input class="form-control" id="name" type="text" placeholder="Your Name *" required="required" data-validation-required-message="Please enter your name.">
                  <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                  <input class="form-control" id="email" type="email" placeholder="Your Email *" required="required" data-validation-required-message="Please enter your email address.">
                  <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                  <input class="form-control" id="phone" type="tel" placeholder="Your Phone *" required="required" data-validation-required-message="Please enter your phone number.">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <textarea class="form-control" id="message" placeholder="Your Message *" required="required" data-validation-required-message="Please enter a message."></textarea>
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="col-lg-12 text-center">
                <div id="success"></div>
                <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">Enviar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>